{$ROOM_HOST} {
    reverse_proxy / ws://ssb-room:3000
    encode zstd gzip
    rate_limit * 20r/s
}

{$TRACKER_HOST} {
    reverse_proxy / ws://wt-tracker:8000
    encode zstd gzip
    rate_limit * 40r/s
}

{$DHT_HOST} {
    reverse_proxy / ws://dht-bridge:6881
    encode zstd gzip
    rate_limit * 30r/s
    @health path /health/dht
    respond @health 200
}
