room.cashucast.app {
    reverse_proxy / ws://ssb-room:3000
    encode zstd gzip
    rate_limit * 20r/s
}

tracker.cashucast.app {
    reverse_proxy / ws://wt-tracker:8000
    encode zstd gzip
    rate_limit * 40r/s
}

dht.cashucast.app {
    reverse_proxy / ws://dht-bridge:6881
    encode zstd gzip
    rate_limit * 30r/s
}
